<!DOCTYPE html>
<html>
<head>
	<title>Todo List</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
</head>

<body>
<div class="container">
    <div class="header">
        <h1>todo<b>list</b></h1>
        <h3>A simple todo list app build with node</h3>
    </div>
    <div class="todos">
        <form action="/api/todos" method="post">
            <input type="text" name="todoName" id="" placeholder="Insert your task here...">       
        </form>
        <ul class="list">
            <li>Future Todos</li>
            <li>Future Todos</li>
            <li>Future Todos</li>
        </ul>
    </div>
</div>
</body>
</html>